In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
public1 = pd.read_csv("public1.CSV", error_bad_lines=False)
print(public1)

<ipython-input-4-ccf706e74790>:4: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  public1 = pd.read_csv("public1.CSV", error_bad_lines=False)
<ipython-input-4-ccf706e74790>:4: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  public1 = pd.read_csv("public1.CSV", error_bad_lines=False)

         TripID RouteID  StopID                    StopName  \
0         23631     100   14156                181 Cross Rd
1         23631     100   14144                177 Cross Rd
2         23632     100   14132                175 Cross Rd
3         23633     100   12266  Zone A Arndale Interchange
4         23633     100   14147                178 Cross Rd
...         ...     ...     ...                         ...
1719046    6524    190B   13506              I1 Pulteney St
1719047    6524    190B   13858                  4 Unley Rd
1719048    6524    190B   16276          A3 King William Rd
1719049    6524    190B   13078           2 King William Rd
1719050    6524    190B   13441             G1 Wakefield St

               WeekBeginning  NumberOfBoardings
0        2013-06-30 00:00:00                  1
1        2013-06-30 00:00:00                  1
2        2013-06-30 00:00:00                  1
3        2013-06-30 00:00:00                  2
4        2013-06-30 00:00:00                  1
...                      ...                ...
1719046  2014-06-08 00:00:00                  5
1719047  2014-06-08 00:00:00                  1
1719048  2014-06-08 00:00:00                  4
1719049  2014-06-08 00:00:00                  4
1719050  2014-06-08 00:00:00                 13

[1719051 rows x 6 columns]

In [ ]:
mean = np.mean(public1)
mean

In [ ]:
std_dev = np.std(public1)
std_dev

In [ ]:
from matplotlib import pyplot as plt
x = mean
y = std_dev
plt.plot(mean,std_dev)
plt.title("Line graph")
plt.ylabel('Y axis')
plt.xlabel('X axis')
plt.show()

In [ ]:
total_cases = public1['cases'].sum()
total_deaths = public1['deaths'].sum()
labels = ['cases', 'deaths']
sizes = [total_cases, total_deaths]
colors = ['indigo', 'red']
explode = (0.1, 0)
plt.pie(sizes, explode=explode, labels=labels, colors=colors, autopct='%1.1f%%', startangle=140)
plt.axis('equal')
plt.title('Distribution of Transport Cases ')
plt.show()

In [ ]:
plt.bar(mean, std_dev, color=['blue', 'red'])
plt.xlabel('mean')
plt.ylabel('std_dev')
plt.title('Mean and Standard Deviation')
plt.show()

In [ ]:
correlation = public1['cases'].corr(public1['deaths'])
print("Correlation between Cases and Deaths:", correlation)

In [ ]:
public1['Cases_Variation'] = public1['cases'].pct_change() * 100
public1['Deaths_Variation'] = public1['deaths'].pct_change() * 100
print(public1[['Cases_Variation', 'Deaths_Variation']])